<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ПронајдиХотел</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Почетна</a>
                <a class="nav-link" href="/campgrounds">Хотели</a>
               <a class="nav-link" href="/campgrounds/new"><span id="addhotel">Додади Хотел</span></a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Најави се</a>
                <a class="nav-link" href="/register">Регистрирај се</a>
                <% } else {%>
                <a class="nav-link" href="/logout"><span id="logout-css">Одјави се</span></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

<style>
    #addhotel {
        background-color: #2a9d8f;
        border-radius: 12px;
        padding: 8px;
    }

    #logout-css {
        background-color: #9d0208;
        border-radius: 12px;
        padding: 8px;
    }
</style>